.flex-all-center{
    /* text-align: center; */
    display: grid;
    justify-items: center;
    align-items:center ;
}
.btn{
    padding: 5px 10px;
    color: white;
    background-color: var(--main-bg-color);
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 700px;
  
    /* display: flex;
    align-items: center;
    justify-items: center; */
}
.my-1{
    margin: 12px 0;
}
.my-2{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
}
.text-center{
    text-align: center;
}
.btn-1{
    background-color: rgb(227, 139, 8);
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px rgb(158, 156, 156);
    margin: 10px 10px;
}
.btn-1:hover{
    background-color: rgb(245, 149, 6);
    box-shadow: 1px 1px 1px 1px rgb(35, 34, 34);
    
}